.bottom-nav{
    width: 100%;
    height: 1.25rem;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 50;
}
.bottom-list{
    display: flex;
    align-items: center;
    padding: 0 0.25rem;
}
.bottom-list .list-item{
    flex: 1;
    padding: 0.15rem 0 0.1rem;
    text-align: center;
    font-size:0.28rem;
    color: #333;
    position: relative;
}
.bottom-list .spot{
    display: block;
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 100%;
    background-color: #eb1625;
    position: absolute;
    left: 61%;
    top: 0.2rem;
}
.bottom-list .list-item.active{
    color: #eb1625;
}
.bottom-list .list-item::before {
    font-family: iconfont;
    font-size: 0.6rem;
    display: block;
    content: '';

}
.bottom-list .list-item:nth-child(1)::before{
    content: '\e600';
}
.bottom-list .list-item:nth-child(2)::before{
    content: '\e630';
}
.bottom-list .list-item:nth-child(3)::before{
    content: '\e67a';
}
