.main{
    min-height: 100vh;
    background-color: #fff;
    padding-top: 1rem;
    box-sizing: border-box;
}
.address-nav{
    height: 0.8rem;
    padding:0 0.3rem;
    background-color: #d3c6be;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.32rem;
}
.address-list{
    border-bottom: 1px solid #efefef;
    padding: 0 0.3rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
.address-info-wrap{
    display: flex;
    align-items: center;
}
.address-info-wrap .check-mark{
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.4rem;
    text-align: center;
    font-family: iconfont;
    color: #fdb709;
}
.address-info-wrap .check-mark::before{
    content: '\e608';
}
.address-info-wrap .info-wrap{
    flex: 1;
    width: 100%;
    overflow: hidden;
    padding-left: 0.3rem;
    box-sizing: border-box;
}
.address-info-wrap .person{
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 1px solid #efefef;
    font-size: 0.28rem;
    color: #666;
}
.address-info-wrap .person span:first-child{
    margin-right: 0.2rem;
}
.address-info-wrap .address{
    padding: 0.2rem 0;
    font-size: 0.32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.address-info-wrap .default{
    font-size: 0.24rem;
    border-radius: 4px;
    line-height: 0.4rem;
    padding: 0 0.1rem;
    background-color: #fda208;
    color: #fff;
    margin-right: 0.1rem;
}
.address-info-wrap .address .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.handle-wrap{
    display: flex;
    justify-content: flex-end;
    border-top: 1px dashed #c6c6c6;
    height: 0.8rem;
    line-height: 0.4rem;
    text-align: center;
    align-items: center;
    color:#d3c6be;
    font-family: iconfont;
    font-size:0.4rem;
}
.handle-wrap .edit{
    width: 0.4rem;
    height: 0.4rem;

}
.handle-wrap .edit::before{
    content: '\e654';
}
.handle-wrap .del{
    width: 0.4rem;
    height: 0.4rem;
    margin-left: 0.2rem;

}
.handle-wrap .del::before{
    content: '\e626';
}