.search-header{
    height: 2.5rem;
    padding: 0 0.75rem 0 0.5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.search-header .back{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}
.search-header .back::before{
    font-family: iconfont;
    content: '\e60a';
}
.search-header .search{
    width: 100%;
    box-sizing: border-box;
    height: 1.5rem;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    padding: 0 0.5rem;
    font-size: 0.7rem;
    color: #999;
    display: flex;
    align-items: center;
}

.goods-main{
    height: calc(100vh - 2.5rem);
    display: flex;

}
.classify-menu{
    width: 4.3rem;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.classify-menu .menu-item{
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    font-size: 0.7rem;
    text-align: center;
}
.classify-menu .menu-item.active{
    color: #d32a4e;
}
.goods-content{
    width: calc(100% - 4.3rem);
    height: 100%;
}
