.page{
    width: 100%;
    background-color: #fff;
}
.search-head{
    position: fixed;
    width: 100%;
    left: 0;
    top:0;
    background-color: #fff;
    z-index: 10;
}
.search-header{

    height: 0.88rem;
    padding-left: 0.2rem;
    padding-right: 0.3rem;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.search-header .back{
    width: 0.6rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.6rem;
    margin-right: 0.2rem;
    font-family: iconfont;
}
.search-header .back::before{
    content: '\e60a';
}
.search-header .search-wrap{
    flex: 1;
    height: 0.6rem;
    padding: 0 0.2rem;
    background-color: #eaeaea;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.search-header .search-icon{
    width: 0.32rem;
    height: 0.32rem;
    font-size: 0.32rem;
    margin-right: 0.14rem;
    font-family: iconfont;
    color: #fff;
}
.search-header .search-icon::before {
    content: '\e628';
}
.search-header .search-text{
    flex: 1;
    height: 0.6rem;
    line-height: 0.6rem;
    background: none;
}
.search-header .btn-screen{
    font-size: 0.32rem;
    margin-left: 0.2rem;
}

.order-main{
    height: 0.8rem;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.order-main .order-item {
    font-size: 0.32rem;
    line-height: 0.8rem;
    margin-right: 0.2rem;
}
.order-main .order-item:first-child::after{
    font-size: 0.4rem;
    position: relative;
    font-family: iconfont;
    content: '\e6ce';
}
.order-main .order-item.active{
    color:#fda208
}
.order-main .order-item:first-child.active::after{
    content: '\e619';
}
.order-main .order-menu{
    position: absolute;
    left: 0;
    top: 0.8rem;
    width: 100%;
   background-color: #fff;
}
.order-main .order-menu li{
    line-height: 0.8rem;
    font-size: 0.28rem;
    padding: 0 0.3rem;
    color: #333;
    border-bottom: 1px solid #efefef;
}
.order-main .order-menu li.active{
    color:#fda208
}
.goods-main{
    padding: 1.68rem 0.3rem 0;
}
.goods-main .goods-list{
    display: flex;
    padding-top: 0.3rem;
}
.goods-main .image{
    width: 1.6rem;
    height: 1.6rem;
    background-color: red;
}
.goods-main .image img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}
.goods-main .goods-content{
    flex: 1;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    border-bottom: 1px solid #efefef;
}
.goods-main .goods-title{
    font-size: 0.28rem;
    line-height: 0.4rem;
    height: 0.8rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.goods-main .price{
    font-size: 0.32rem;
    color: #f93036;
    margin-top: 0.1rem;
}


