.page{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.main{
    padding-top:1rem;
}
.address-wrap{
    padding: 0.2rem 0.3rem;
    position: relative;
}
.address-wrap .receiver{
    font-size: 0.28rem;
}
.address-wrap .receiver span{
    font-weight: bold;
}
.address-wrap .receiver span:first-child{
    margin-right: 0.5rem;
}
.address-wrap .address{
    font-size: 0.24rem;
    margin-top: 0.2rem;
    position: relative;
    padding-left: 0.34rem;
    padding-right: 0.5rem;
}
.address-wrap .address::before{
    font-family: iconfont;
    color: #999;
    content: '\e68d';
    font-size: 0.24rem;
    position: absolute;
    left: 0;
    top: 0.05rem;
}
.address-wrap .arrow{
    width: 0.32rem;
    height: 0.32rem;
    line-height: 0.32rem;
    font-family: iconfont;
    color: #999;
    text-align: center;
    position: absolute;
    right: 0.3rem;
    top:50%;
    transform: translateY(-50%);
}
.address-wrap .arrow::before{
    content: '\e606';
}
.address-line{
    height: 0.2rem;
    background: linear-gradient(45deg, #cc95c0 25%, #dbd4b4 0, #dbd4b4 50%, #cc95c0 0, #cc95c0 75%, #dbd4b4 0);
    background-size: 0.4rem 0.4rem;
}